* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

* body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body header {
  height: 100px;
  width: 100%;
  background-color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
          box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  border-bottom: 1px solid aqua;
}

* body header nav {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body header nav a {
  color: aliceblue;
  text-decoration: none;
  letter-spacing: .1rem;
  -webkit-animation: ease 0.5s;
          animation: ease 0.5s;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

* body header nav a:hover, * body header nav a:focus {
  color: #21cfe3;
}

* body #title {
  margin-top: 20px;
  letter-spacing: 5px;
  font-family: 'Raleway', sans-serif;
}

* body #user-container {
  margin-top: 10px;
  background-color: #363636;
  color: white;
  padding: 100px 40px;
  border-radius: 20px;
  border: none;
}

* body .getbtn {
  letter-spacing: 10px;
  padding: 20px 70px;
  border: none;
  background: #606060;
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 40px;
  -webkit-animation: ease 0.5s;
          animation: ease 0.5s;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

* body .getbtn:hover, * body .getbtn:focus {
  background: #4c4c4c;
  color: #1fe9ff;
  -webkit-box-shadow: #1fe9ff 0px 5px 10px -2px;
          box-shadow: #1fe9ff 0px 5px 10px -2px;
}

* body #ownedBooksBox {
  width: 100%;
  height: 500px;
  background-color: #37596f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=profile.css.map */