* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

* body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body header {
  height: 100px;
  width: 100%;
  background-color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-bottom: 1px solid aqua;
}

* body header nav {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body header nav a {
  color: aliceblue;
  text-decoration: none;
  letter-spacing: .2rem;
  -webkit-animation: ease 0.5s;
          animation: ease 0.5s;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

* body header nav a:hover, * body header nav a:focus {
  color: #21cfe3;
}

* body header #loggedInMessageBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 15px;
  background-color: #d78f09;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  color: aliceblue;
  z-index: 2;
  right: 10px;
  top: 11%;
  border-radius: 25px;
  position: fixed;
}

* body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7%;
  width: 100%;
  margin-top: 3%;
}

* body main input {
  width: 100%;
  height: 10%;
  border-radius: 10px;
  border: none;
  padding: 12px 20px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body main .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40%;
  width: 70%;
}

* body main #loginBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  height: 500px;
  padding-top: 5%;
  background-color: #494949;
  color: white;
  border-radius: 40px;
  letter-spacing: .2em;
  font-weight: 100;
  font-size: 100;
  letter-spacing: 0.5em;
}

* body main #loginBox h2 {
  margin-top: 10px;
}

* body main #loginBox #login {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: .2em;
  height: 20%;
  background: #1b8e9d;
  color: white;
  border: none;
  letter-spacing: 1em;
  -webkit-animation: ease 0.5s;
          animation: ease 0.5s;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

* body main #loginBox #login:hover, * body main #loginBox #login:focus {
  background: #15727e;
}

* body main #registerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  width: 40%;
  height: 500px;
  padding-top: 5%;
  background-color: #0f5d7c;
  border: none;
  color: aliceblue;
  letter-spacing: .2em;
  font-weight: 100;
  font-size: 100;
}

* body main #registerBox h2 {
  margin-top: 10px;
  letter-spacing: 0.5em;
}

* body main #registerBox #register {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 600;
  letter-spacing: 1em;
  height: 20%;
  background: #19d59a;
  color: #08263f;
  border: none;
  -webkit-animation: ease 0.5s;
          animation: ease 0.5s;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

* body main #registerBox #register:hover, * body main #registerBox #register:focus {
  background: #7feecb;
}
/*# sourceMappingURL=register.css.map */